.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem;
  background-color: #ebecf0;
  border-radius: 7px;
  width: 300px;
  margin: 0 0.7rem;
}
.list-title {
  font-size: 1.2rem;
  font-weight: 400;
  color: #172b4d;
  padding: 0.8rem 0.5rem;
  text-transform: uppercase;
}
.list-title-edit-input input{
  padding: 0.6rem 0.8rem;
  border: #dadbe2 solid 1px;
  width: 100%;
  font-size: 1.2rem;
}
.list-button {
  background-color: inherit;
  text-align: left;
  border: none;
  color: #172b4d;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 0.6rem 1.1rem;
  outline: none;
  cursor: pointer;
}
.list-button:hover {
  background-color: #dadbe2;
}
