.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0.6rem 0.8rem;
  margin: 0.7rem 0;
  width: 100%;
  border: black solid 4px;
}

.card-delete-show {
  display: block;
  cursor: pointer;
}
.card-delete-hide {
  display: none;
}
